#acceuil {
    height: 100vh;
    width: 100vw;
    background-color: #E4E3E3;
    align-content: center;
    position: relative;
}

#acceuil > .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: max-content;
    position: relative;
    bottom: 10vh;
}

#acceuil > .info > .avatar {
    justify-self: end;
    margin-right: 10vw;
    border: solid 8px #1D2532;
    border-top: solid 8px #E4E3E3;
    border-bottom: solid 8px #E4E3E3;
    background-color: #E4E3E3;
    border-radius: 50%;
    height: 30vh;
    scale: 1.3;
    transition: border 1s cubic-bezier(0.075, 0.82, 0.165, 1), scale 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#acceuil > .info > .avatar > img {
    height: 30vh;
    border-radius: 50%;
    scale: 0.9;
    filter: grayscale(1);
    transition: filter 2s cubic-bezier(0.165, 0.84, 0.44, 1), scale 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: none;
}

#acceuil > .info > .avatar > img:hover {
    scale: 0.95;
    filter: grayscale(0.1);
}

#acceuil > .info > .avatar:hover {
    
    border: solid 8px #E4E3E3;
    border-top: solid 8px #1D2532;
    border-bottom: solid 8px #1D2532;
    scale: 1.5;
}

#acceuil > .info > .text {
    display: flex;
    flex-direction: column;
}

#acceuil > .info > .text > h3 {
    font-size: 5vh;
    margin-bottom: 2vh;
}

#acceuil > .info > .text > h1 {
    font-size: 6.2vh;
    margin-bottom: 1vh;
}

#acceuil > .info > .text > h1 > i {
    color: #E4E3E3;
    text-shadow: 
        -2px 2px 3px#1D2532,
        2px -2px 3px #1D2532,
        -2px 2px 3px#1D2532,
        2px 2px 3px#1D2532;
    transition: color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#acceuil > .info > .text > h1 > i:hover {
    color: #ffffff;
    text-shadow: 
        -2px 2px 3px#1D2532,
        2px -2px 3px #1D2532,
        -2px 2px 3px#1D2532,
        2px 2px 3px#1D2532;
}

#acceuil > .info > .text > h2 {
    color: #E4E3E3;
    font-size: 4vh;
    text-shadow: 
        0px 2px 0px#1D2532,
        0px -2px 0px #1D2532,
        -2px 0px 0px#1D2532,
        2px 0px 0px#1D2532;
    margin-bottom: 5vh;
}

#acceuil > .info > .text > .reseau {
    margin-bottom: 4.5vh;
}

#acceuil > .info > .text > .reseau > a {
    width: auto;
    text-decoration: none;
    color: #73767b;
}

#acceuil > .info > .text > .reseau > a > svg {
    height: 6vh;
    width: auto;
    margin-right: 2vw;
    transition: all 0.5 linear;
}

#acceuil > .info > .text > .reseau > a > svg:hover {
    color: #1D2532;
    position: relative;
    bottom: 2px;
    filter: drop-shadow(1px 1px 10px #ffffff);
}

#acceuil > .info > .text > .plus {
    display: flex;
}

#acceuil > .info > .text > .plus > a {
    color: #E4E3E3;
    font-size: 3vh;
    background-color: #1D2532;
    text-decoration: none;
    padding: 1vh 1vw;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #ffffff;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#acceuil > .info > .text > .plus > a:hover {
    color: #E4E3E3;
    font-size: 3vh;
    background-color: #000000;
    text-decoration: none;
    padding: 1vh 1vw;
    height: fit-content;
    border-radius: 5px;
}

#acceuil > .info > .text > .plus > a:active {
    color: #1D2532;
    background-color: #E4E3E3;
    height: fit-content;
    position: relative;
    top: 2px;
    box-shadow: 0px 3px 5px #ffffff;
}