body > .info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: black;
    height: 83vh;
    padding-top: 10vh;
}

body > .info > .avatar {
    border: 0.8vh solid #a3ff22;
    border-radius: 100%;
    height: 25vh;
    transition: all 0.6s ease-in-out;
    margin-bottom: 3vh;
}

body > .info > .avatar > img {
    height: 25vh;
    border-radius: 100%;
    filter: grayscale(80%);
    transition: border-radius 0.5s ease-in-out;
}

body > .info > .text {
    text-align: center;
    margin-bottom: 5vh;
}

body > .info > .text > h3 {
    color: #a3ff22;
    font-size: 4vh;
    margin-bottom: 2vh;
    transition: all 0.5s ease-in-out;
}

body > .info > .text > h1 {
    color: white;
    font-size: 7vh;
    transition: all 0.7s ease-in-out;
}

body > .info > .reseau {
    display: flex;
    transition: all 1s ease-in-out;
    margin-bottom: 8vh;
}

body > .info > .reseau > a {
    width: auto;
    height: 6vh;
    color: white;
    margin: 0vw 1vw 0vw 1vw;
}

body > .info > .reseau > a > svg {
    width: auto;
    height: 6vh;
    margin-right: 5vh;
    color: white;
    transition: scale 0.2s ease-out;
}

body > .info > .reseau > a > svg:hover {
    color: #a3ff22;
    scale: 0.9;
}

body > .info > .reseau > a > svg:active {
    position: relative;
    top: 1px;
    filter: drop-shadow(1px 1px 10px #ffffff);
    transition: scale 0.1s ease-out;
}

body > .info > .plus {
    background-color: #a3ff22;
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 10px;
    transition: all 1s ease-out;
    opacity: 1;
}

body > .info > .plus > a {
    font-size: 4vh;
    text-decoration: none;
    color: black;
}

body > .info > .plus:hover {
    background-color: #78cf00;
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 100px;
}
