body > .info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: black;
    height: 84vh;
    padding-top: 10vh;
}

body > .info > .avatar {
    border: 0.8vh solid #a3ff22;
    border-radius: 100%;
    height: 25vh;
    transition: border-radius 1s ease-in-out;
    margin-bottom: 3vh;
}

body > .info > .avatar > img {
    height: 25vh;
    border-radius: 100%;
    filter: grayscale(40%);
    transition: border-radius 1s ease-in-out;
}

body > .info > .text {
    text-align: center;
    margin-bottom: 5vh;
}

body > .info > .text > h3 {
    color: #a3ff22;
    font-size: 4vh;
    margin-bottom: 2vh;
    transition: all 0.7s ease-in;
}

body > .info > .text > h1 {
    color: white;
    font-size: 7vh;
    transition: all 0.8s ease-in;
}

body > .info > .reseau {
    display: flex;
    transition: all 0.9s ease-in;
    margin-bottom: 8vh;
}

body > .info > .reseau > a {
    width: auto;
    height: 6vh;
    color: white;
    margin: 0vw 1vw 0vw 1vw;
}

body > .info > .reseau > a > svg {
    width: auto;
    height: 6vh;
    margin-right: 5vh;
    color: white;
    transition: scale 0.9s ease-out;
}

body > .info > .reseau > a > svg:hover {
    color: #a3ff22;
    scale: 0.9;
}



body > .info > .reseau > a > svg:active {
    position: relative;
    top: 1px;
    filter: drop-shadow(1px 1px 10px #ffffff);
    transition: scale 0.1s ease-out;
}

body > .info > .plus {
    background-color: #a3ff22;
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 10px;
    transition: all 1.2s ease-out;
    opacity: 1;
    animation: myAnimation 2s infinite alternate ease-in-out;
}

body > .info > .plus > a {
    font-size: 4vh;
    text-decoration: none;
    color: black;
}

body > .info > .plus:hover {
    background-color: #78cf00;
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 100px;
}

@keyframes myAnimation {
    0% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(5px);
    }
}

/** Portable **/
@media screen and (max-width: 870px) {
    body > .info {
        height: 86vh;
        padding-top: 5vh;
    }
    
    body > .info > .avatar {
        height: 20vh;
        margin-bottom: 3vh;
    }
    
    body > .info > .avatar > img {
        height: 20vh;
    }
    
    body > .info > .text {
        text-align: center;
        margin-bottom: 4vh;
    }
    
    body > .info > .text > h3 {
        color: #a3ff22;
        font-size: 4vh;
        margin-bottom: 4vh;
    }
    
    body > .info > .text > h1 {
        color: white;
        font-size: 5vh;
        margin: 0vw 5vw 0vw 5vw;
        transition: all 0.8s ease-in;
    }
    
    body > .info > .reseau {
        display: flex;
        transition: all 0.9s ease-in;
        margin-bottom: 4vh;
    }
    
    body > .info > .reseau > a {
        width: auto;
        height: 3vh;
        color: white;
        margin: 0vw 0vw 0vw 0vw;
    }
    
    body > .info > .reseau > a > svg {
        width: auto;
        height: 3vh;
        margin: 0vw 2vw 0vw 2vw;
        color: white;
        transition: scale 0.9s ease-out;
    }
    
    body > .info > .reseau > a > svg:hover {
        color: #a3ff22;
        scale: 0.9;
    }
    
    
    body > .info > .reseau > a > svg:active {
        position: relative;
        top: 1px;
        filter: drop-shadow(1px 1px 10px #ffffff);
        transition: scale 0.1s ease-out;
    }
    
    body > .info > .plus {
        background-color: #a3ff22;
        padding: 1vh 3vw 1vh 3vw;
        border-radius: 10px;
        transition: all 1.2s ease-out;
        opacity: 1;
        animation: myAnimation 2s infinite alternate ease-in-out;
    }
    
    body > .info > .plus > a {
        font-size: 3vh;
        text-decoration: none;
        color: black;
    }
    
    body > .info > .plus:hover {
        background-color: #78cf00;
        padding: 1vh 3vw 1vh 3vw;
        border-radius: 100px;
    }
}
