#contact {
    height: 100vh;
}

#contact > .content {
    background-color: #E4E3E3;
    height: 100vh;
    padding-top: 5vh;
    color: white;
}

#contact > .content > .info {
    display: flex;
    flex-direction: column;
    padding: 7vh 10vw 5vh 10vw;
}

#contact > .content > .info > .text > .title {
    font-size: 3.5vh;
    color: #1D2532;
    transition: color 0.6s ease-in-out;
}

#contact > .content > .info > .table {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #222628;
    align-items: center;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 3px #1D2532;
    padding: 3vh 0vw 0vh 1vw;
    margin-top: 3vh;
}

#contact > .content > .info > .table > .form {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
}

#contact > .content > .info > .table > .form > .contact {
    padding: 1vh 1vw 1vh 1vw;
}

#contact > .content > .info > .table > .form > .contact > .skill {
    display: flex;
    align-items: center;
    color: #1D2532;
    background-color: white;
    border-radius: 100px;
    height: 7vw;
    margin-bottom: 3vh;
}

#contact > .content > .info > .table > .form > .contact > .skill > .icon {
    background-color: #E4E3E3;
    border-radius: 100px;
    height: 7vw;
    width: 7vw;
    transition: color 0.6s ease-in-out;
}

#contact > .content > .info > .table > .form > .contact > .skill > .icon > svg {
    height: 7vw;
    width: auto;
    scale: 0.4;
    color: #1D2532;
    transition: color 0.6s ease-in-out;
}

#contact > .content > .info > .table > .form > .contact > .skill > .name {
    position: relative;
    width: fit-content;
    left: 1vw;
    font-size: 0.6vw;
}

#contact > .content > .info > .table > .form > .reseau {
    padding-left: 5vh;
    position: relative;
    bottom: 1vh;
    justify-self: center;
}

#contact > .content > .info > .table > .form > .reseau > a {
    text-decoration: none;
    width: auto;
    height: 6vh;
    color: E4E3E3;
}

#contact > .content > .info > .table > .form > .reseau > a > svg {
    width: auto;
    height: 6vh;
    margin-right: 5vh;
    color: #E4E3E3;
    transition: scale 0.2s ease-out;
}

#contact > .content > .info > .table > .form > .reseau > a > svg:hover {
    width: auto;
    scale: 0.9;
    color: #ffffff;
}

#contact > .content > .info > .table > .form > .reseau > a > svg:active {
    scale: 0.9;
    color: #E4E3E3;
    filter: drop-shadow(1px 1px 5px #ffffff);
}

#contact > .content > .info > .table > form {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#contact > .content > .info > .table > form > .acc {
    display: flex;
    flex-direction: column;
    padding: 0vh 1vw 3vh 1vw;
}

#contact > .content > .info > .table > form > .acc > label {
    color: #E4E3E3;
    font-size: 3vh;
    margin-bottom: 1vh;
}

#contact > .content > .info > .table > form > .acc > input {
    color: #000000;
    font-size: 2vh;
    margin-bottom: 1vh;
    height: 3vh;
    padding-left: 1vw;
    border-radius: 50px;
}

#contact > .content > .info > .table > form > .acc > button {
    background-color: #E4E3E3;
    height: 5vh;
    border-radius: 100px;
    font-size: large;
}

#contact > .content > .info > .table > form > .acc > button:hover {
    background-color: #ffffff;
}

#contact > .content > .info > .table > form > .acc > button:active {
    background-color: #585858;
    color: #E4E3E3;
    position: relative;
    top: 2px;
    box-shadow: 1px 1px 1px black;
}

#contact > .content > .info > .table > form > .message {
    display: flex;
    flex-direction: column;
    padding: 0vh 1vw 3vh 1vw;
}

#contact > .content > .info > .table > form > .message > label {
    color: #E4E3E3;
    font-size: 3vh;
    margin-bottom: 1vh;
}

#contact > .content > .info > .table > form > .message > textarea {
    height: 15vh;
    font-size: 3vh;
    padding: 1vh;
    border-radius: 10px;
}

/** Portable **/
@media screen and (max-width: 1100px) {
    #contact {
        height: 100vh;
    }
    
    #contact > .content {
        background-color: #E4E3E3;
        height: 100vh;
        padding-top: 5vh;
        color: white;
    }
    
    #contact > .content > .info {
        display: flex;
        flex-direction: column;
        padding: 7vh 10vw 5vh 10vw;
    }
    
    #contact > .content > .info > .text > .title {
        font-size: 3.5vh;
        color: #1D2532;
        transition: color 0.6s ease-in-out;
    }
    
    #contact > .content > .info > .table {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #222628;
        align-items: center;
        height: auto;
        border-radius: 20px;
        box-shadow: 0px 0px 3px #1D2532;
        padding: 3vh 0vw 0vh 1vw;
        margin-top: 3vh;
    }
    
    #contact > .content > .info > .table > .form {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    
    #contact > .content > .info > .table > .form > .contact {
        padding: 1vh 1vw 1vh 1vw;
        margin-bottom: 1vh;
    }
    
    #contact > .content > .info > .table > .form > .contact > .skill {
        display: flex;
        align-items: center;
        color: #1D2532;
        background-color: white;
        border-radius: 100px;
        height: 7vw;
        margin-bottom: 3vh;
    }
    
    #contact > .content > .info > .table > .form > .contact > .skill > .icon {
        background-color: #E4E3E3;
        border-radius: 100px;
        height: 7vw;
        width: 7vw;
        transition: color 0.6s ease-in-out;
    }
    
    #contact > .content > .info > .table > .form > .contact > .skill > .icon > svg {
        height: 7vw;
        width: auto;
        scale: 0.4;
        color: #1D2532;
        transition: color 0.6s ease-in-out;
    }
    
    #contact > .content > .info > .table > .form > .contact > .skill > .name {
        position: relative;
        width: fit-content;
        left: 1vw;
        font-size: 1vw;
    }
    
    #contact > .content > .info > .table > .form > .reseau {
        padding-left: 6vw;
        position: relative;
        bottom: 1vh;
        justify-self: center;
        margin-bottom: 2vh;
    }
    
    #contact > .content > .info > .table > .form > .reseau > a {
        text-decoration: none;
        width: auto;
        height: 6vh;
        color: #E4E3E3;
    }
    
    #contact > .content > .info > .table > .form > .reseau > a > svg {
        width: auto;
        height: 6vh;
        margin-right: 5vh;
        color: #E4E3E3;
        transition: scale 0.2s ease-out;
    }
    
    #contact > .content > .info > .table > .form > .reseau > a > svg:hover {
        width: auto;
        scale: 0.9;
        color: #ffffff;
    }
    
    #contact > .content > .info > .table > .form > .reseau > a > svg:active {
        scale: 0.9;
        color: #E4E3E3;
        filter: drop-shadow(1px 1px 5px #ffffff);
    }
    
    #contact > .content > .info > .table > form {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
    
    #contact > .content > .info > .table > form > .acc {
        display: flex;
        flex-direction: column;
        padding: 0vh 1vw 3vh 1vw;
    }
    
    #contact > .content > .info > .table > form > .acc > label {
        color: #E4E3E3;
        font-size: 3vh;
        margin-bottom: 1vh;
    }
    
    #contact > .content > .info > .table > form > .acc > input {
        color: #000000;
        font-size: 2vh;
        margin-bottom: 1vh;
        height: 3vh;
        padding-left: 1vw;
        border-radius: 50px;
    }
    
    #contact > .content > .info > .table > form > .acc > button {
        background-color: #E4E3E3;
        height: 5vh;
        border-radius: 100px;
        font-size: large;
    }
    
    #contact > .content > .info > .table > form > .acc > button:hover {
        background-color: #ffffff;
    }
    
    #contact > .content > .info > .table > form > .acc > button:active {
        background-color: #585858;
        color: #E4E3E3;
        position: relative;
        top: 2px;
        box-shadow: 1px 1px 1px black;
    }
    
    #contact > .content > .info > .table > form > .message {
        display: flex;
        flex-direction: column;
        padding: 0vh 1vw 3vh 1vw;
    }
    
    #contact > .content > .info > .table > form > .message > label {
        color: #E4E3E3;
        font-size: 3vh;
        margin-bottom: 1vh;
    }
    
    #contact > .content > .info > .table > form > .message > textarea {
        height: 15vh;
        font-size: 3vh;
        padding: 1vh;
        border-radius: 10px;
    }
}

@media screen and (max-width: 800px) {
    #contact {
        height: 100vh;
    }
    
    #contact > .content {
        background-color: #E4E3E3;
        height: 100vh;
        padding-top: 8vh;
        color: white;
    }
    
    #contact > .content > .info {
        display: flex;
        flex-direction: column;
        padding: 7vh 10vw 5vh 10vw;
    }
    
    #contact > .content > .info > .text > .title {
        font-size: 3.5vw;
        color: #1D2532;
        transition: color 0.6s ease-in-out;
    }
    
    #contact > .content > .info > .table {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #222628;
        align-items: center;
        height: auto;
        border-radius: 20px;
        box-shadow: 0px 0px 3px #1D2532;
        padding: 3vh 0vw 0vh 1vw;
        margin-top: 3vh;
    }
    
    #contact > .content > .info > .table > .form {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    
    #contact > .content > .info > .table > .form > .contact {
        padding: 1vh 1vw 1vh 1vw;
        margin-bottom: 1vh;
    }
    
    #contact > .content > .info > .table > .form > .contact > .skill {
        display: flex;
        align-items: center;
        color: #1D2532;
        background-color: white;
        border-radius: 100px;
        height: 7vw;
        margin-bottom: 3vh;
    }
    
    #contact > .content > .info > .table > .form > .contact > .skill > .icon {
        background-color: #E4E3E3;
        border-radius: 100px;
        height: 7vw;
        width: 7vw;
        transition: color 0.6s ease-in-out;
    }
    
    #contact > .content > .info > .table > .form > .contact > .skill > .icon > svg {
        height: 7vw;
        width: auto;
        scale: 0.4;
        color: #1D2532;
        transition: color 0.6s ease-in-out;
    }
    
    #contact > .content > .info > .table > .form > .contact > .skill > .name {
        position: relative;
        width: fit-content;
        left: 1vw;
        font-size: 1vw;
    }
    
    #contact > .content > .info > .table > .form > .reseau {
        padding-left: 6vw;
        position: relative;
        bottom: 1vh;
        justify-self: center;
        margin-bottom: 2vh;
    }
    
    #contact > .content > .info > .table > .form > .reseau > a {
        text-decoration: none;
        width: auto;
        height: 5vw;
        color: #E4E3E3;
    }
    
    #contact > .content > .info > .table > .form > .reseau > a > svg {
        width: auto;
        height: 5vw;
        margin-right: 5vh;
        color: #E4E3E3;
        transition: scale 0.2s ease-out;
    }
    
    #contact > .content > .info > .table > .form > .reseau > a > svg:hover {
        width: auto;
        scale: 0.9;
        color: #ffffff;
    }
    
    #contact > .content > .info > .table > .form > .reseau > a > svg:active {
        scale: 0.9;
        color: #E4E3E3;
        filter: drop-shadow(1px 1px 5px #ffffff);
    }
    
    #contact > .content > .info > .table > form {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    #contact > .content > .info > .table > form > .acc {
        display: flex;
        flex-direction: column;
        padding: 0vh 1vw 3vh 1vw;
    }
    
    #contact > .content > .info > .table > form > .acc > label {
        color: #E4E3E3;
        font-size: 3vw;
        margin-bottom: 1vh;
        text-align: center;
    }
    
    #contact > .content > .info > .table > form > .acc > input {
        color: #000000;
        font-size: 2vw;
        margin-bottom: 1vh;
        height: 3vh;
        padding-left: 1vw;
        border-radius: 50px;
    }
    
    #contact > .content > .info > .table > form > .acc > button {
        background-color: #E4E3E3;
        height: 5vw;
        border-radius: 100px;
        font-size: 3vw;
    }
    
    #contact > .content > .info > .table > form > .acc > button:hover {
        background-color: #ffffff;
    }
    
    #contact > .content > .info > .table > form > .acc > button:active {
        background-color: #585858;
        color: #E4E3E3;
        position: relative;
        top: 2px;
        box-shadow: 1px 1px 1px black;
    }
    
    #contact > .content > .info > .table > form > .message {
        display: flex;
        flex-direction: column;
        padding: 0vh 1vw 3vh 1vw;
    }
    
    #contact > .content > .info > .table > form > .message > label {
        color: #E4E3E3;
        font-size: 2vh;
        margin-bottom: 1vh;
        text-align: center;
    }
    
    #contact > .content > .info > .table > form > .message > textarea {
        height: fit-content;
        width: 70vw;
        font-size: 2vw;
        padding: 1vh;
        border-radius: 10px;
        align-self: center;
    }
}