@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@700&family=Markazi+Text:wght@400..700&family=Oswald:wght@510&family=Tektur:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Tektur";
    font-optical-sizing: auto;
}

html {
    scroll-behavior: smooth;
}

/**
    Trang : #E4E3E3
    Xanh : #1D2532
**/

body {
    display: flex;
    flex-direction: column;
}


/** Header **/

header {
    position: fixed;
    background-color: #ffffffa0;
    height: fit-content;
    width: 80vw;
    z-index: 3;
    margin-top: 1vw;
    border: solid 1px #ffffff;
    border-radius: 100px;
    align-self: center;
    box-shadow: 0px 5px 15px #1D2532;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header:hover {
    background-color: #ffffffd8;
}

header > nav {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
}

header > nav > .logo > a > img {
    height: 5vh;
    scale: 0.8;
    filter: drop-shadow(1px 1px 3px #1D2532);
}

header > nav > .logo > a > img:hover {
    scale: 0.9;
}

header > nav > .navi {
    display: flex;
}

header > nav > .navi > a {
    font-size: 2.5vh;
    text-decoration: none;
    margin: 0vh 3vw;
    padding: 1vh 1vw;
    color: #1D2532;
    position: relative;
    display: block;
}

header > nav > .navi > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1D2532;
    transform: scaleX(0);
    height: 2px;
    width: 100%;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header > nav > .navi > a:hover {
    color: #000000;
}

header > nav > .navi > a:hover::after {
    font-weight: bold;
    transform: scaleX(1);
}

header > nav > .lang {}

.dropbtn {
    background-color: #E4E3E3;
    width: 8vw;
    color: #1D2532;
    font-size: 18px;
    padding: 0.3vh 1vw 0.3vh 1vw; 
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dropbtn:hover {
    background-color: #1D2532;
    color: #E4E3E3;
}

.dropbtn:active {
    background-color: #ffffff;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 8vw;
    justify-items: center;
    background-color: #ffffff;
    min-width: 100px;
    z-index: 1;
    margin-top: 1vh;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 1vh 1vw;
    text-decoration: none;
    display: block;
    justify-items: center;
    transition: all 0.2s ease-in-out;
}

.dropdown-content a:hover {
    color: #E4E3E3;
    background-color: #1D2532;
    width: 7vw;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    
    header {
        position: fixed;
        background-color: #ffffffa0;
        height: fit-content;
        width: fit-content;
        padding: 0px 1vw;
        z-index: 3;
        margin-top: 1vw;
        border: solid 1px #ffffff;
        border-radius: 100px;
        align-self: center;
        box-shadow: 0px 5px 15px #1D2532;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    header:hover {
        background-color: #ffffffd8;
    }
    
    header > nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header > nav > .logo > a > img {
        height: 5vh;
        scale: 0.8;
        filter: drop-shadow(1px 1px 3px #1D2532);
    }
    
    header > nav > .logo > a > img:hover {
        scale: 0.9;
    }
    
    header > nav > .navi {
        display: flex;
    }
    
    header > nav > .navi > a {
        font-size: 2.5vh;
        text-decoration: none;
        margin: 0vh 2vw;
        padding: 1vh 0.2vw;
        color: #1D2532;
        position: relative;
        display: block;
    }
    
    header > nav > .navi > a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #1D2532;
        transform: scaleX(0);
        height: 2px;
        width: 100%;
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    header > nav > .navi > a:hover {
        color: #000000;
    }
    
    header > nav > .navi > a:hover::after {
        font-weight: bold;
        transform: scaleX(1);
    }
    
    header > nav > .lang {}
    
    .dropbtn {
        background-color: #E4E3E3;
        width: fit-content;
        color: #1D2532;
        font-size: auto;
        padding: 0.3vh 1vw 0.3vh 1vw; 
        border: none;
        cursor: pointer;
        border-radius: 50px;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    .dropbtn:hover {
        background-color: #1D2532;
        color: #E4E3E3;
    }
    
    .dropbtn:active {
        background-color: #ffffff;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        width: 8vw;
        justify-items: center;
        background-color: #ffffff;
        min-width: 100px;
        z-index: 1;
        margin-top: 1vh;
        border-radius: 10px;
    }
    
    .dropdown-content a {
        color: black;
        padding: 1vh 1vw;
        text-decoration: none;
        display: block;
        justify-items: center;
        transition: all 0.2s ease-in-out;
    }
    
    .dropdown-content a:hover {
        color: #E4E3E3;
        background-color: #1D2532;
        width: 7vw;
        border-radius: 10px;
    }
}

@media screen and (max-width: 600px) {
    header {
        position: fixed;
        background-color: #ffffffa0;
        height: fit-content;
        width: fit-content;
        padding: 0px 2vw;
        z-index: 3;
        margin-top: 4vw;
        border: solid 1px #ffffff;
        border-radius: 10px;
        align-self: center;
        box-shadow: 0px 5px 15px #1D2532;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    header:hover {
        background-color: #ffffffd8;
    }
    
    header > nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        grid-template-areas: 
            "logo lang"
            "navi navi";
    }
    
    header > nav > .logo {
        grid-area: logo;
    }

    
    header > nav > .logo > a > img {
        height: 3.5vh;
        scale: 0.8;
        filter: drop-shadow(1px 1px 3px #1D2532);
    }
    
    header > nav > .logo > a > img:hover {
        scale: 0.9;
    }
    
    header > nav > .navi {
        display: flex;
        grid-area: navi;
    }
    
    header > nav > .navi > a {
        font-size: 1.8vh;
        text-decoration: none;
        margin: 0vh 2vw;
        padding: 1vh 0.2vw;
        color: #1D2532;
        position: relative;
        display: block;
    }
    
    header > nav > .navi > a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #1D2532;
        transform: scaleX(0);
        height: 2px;
        width: 100%;
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    header > nav > .navi > a:hover {
        color: #000000;
    }
    
    header > nav > .navi > a:hover::after {
        font-weight: bold;
        transform: scaleX(1);
    }
    
    header > nav > .lang {
        grid-area: lang;
    }
    
    .dropbtn {
        background-color: #E4E3E3;
        width: fit-content;
        color: #1D2532;
        font-size: 1.5vh;
        padding: 0.3vh 2vw 0.3vh 2vw; 
        border: none;
        cursor: pointer;
        border-radius: 50px;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    .dropbtn:hover {
        background-color: #1D2532;
        color: #E4E3E3;
    }
    
    .dropbtn:active {
        background-color: #ffffff;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        width: 8vw;
        justify-items: center;
        background-color: #ffffff;
        min-width: 100px;
        z-index: 1;
        margin-top: 1vh;
        border-radius: 10px;
    }
    
    .dropdown-content a {
        color: black;
        padding: 1vh 1vw;
        text-decoration: none;
        display: block;
        justify-items: center;
        transition: all 0.2s ease-in-out;
    }
    
    .dropdown-content a:hover {
        color: #E4E3E3;
        background-color: #1D2532;
        width: 7vw;
        border-radius: 10px;
    }
}